{% set title = 'card-product' %}

{% set page = 'card-product' %}

{% extends 'partials/_base.html' %}

{% block content %}
	{% include 'partials/layouts/_breadcrumbs.html' %}

	<div class="page-header">
		<div class="container">
			<div class="h1">Вентилятор настольный First FA-5550-BA</div>
		</div>
	</div>

	<div class="card-product">
		<div class="container">
			<div class="card-product__inner">
				<div class="card-product__main">
					{% include 'partials/pages-template/card-product/_goods.html' %}

					<div class="tabs js-tabs">
						<div class="tabs__nav">
							<button type="button" class="tabs__nav-item js-tab-nav" data-id="1">Описание и характеристики</button>
							<button type="button" class="tabs__nav-item js-tab-nav" data-id="2">Отзывы(2)</button>
							<button type="button" class="tabs__nav-item js-tab-nav active" data-id="3">Акции</button>
						</div>

						<div class="tabs__content">
							<div class="tabs__content-item js-tab-content" data-id="1">
								<p>Настольный вентилятор First FA-5550-BA равномерно распределяет потоки воздуха и создавая комфортные условия. Доступно 2 режима работы с различной скоростью вращения лопастей. Крупные пластиковые лопасти при вращении не создают громких звуков.</p>
			
								{% include 'partials/pages-template/card-product/_characteristic.html' %}
							</div>

							<div class="tabs__content-item js-tab-content" data-id="2">
								<p>2</p>
							</div>

							<div class="tabs__content-item js-tab-content active" data-id="3">
								<div class="product-offers">
									<div class="product-offers__item">
										{% include 'partials/blocks/_product-offer-1.html' %}
									</div>
									<div class="product-offers__item">
										{% include 'partials/blocks/_product-offer-2.html' %}
									</div>
									<div class="product-offers__item">
										{% include 'partials/blocks/_product-offer-3.html' %}
									</div>
									<div class="product-offers__item">
										{% include 'partials/blocks/_product-offer-4.html' %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% include 'partials/blocks/_basket.html' %}
			</div>
		</div>
	</div>
{% endblock %}