{% extends 'partials/_base.html' %}

{% set icons = [
	{ name: 'cart' },
	{ name: 'classmates' },
	{ name: 'compare' },
	{ name: 'delivery' },
	{ name: 'eye' },
	{ name: 'facebook' },
	{ name: 'grid' },
	{ name: 'heart' },
	{ name: 'instagram' },
	{ name: 'list' },
	{ name: 'phone' },
	{ name: 'search' },
	{ name: 'star' },
	{ name: 'twitter' },
	{ name: 'user' },
	{ name: 'vk' },
	{ name: 'youtube' },
	{ name: 'certificate' },
	{ name: 'car-2' }
] %}

{% block content %}
	<div class="icons">
		{% for icon in icons %}
			<div class="icon">
				<svg class="icon-{{ icon.name }}" width="100%" height="100%">
					<use xlink:href="img/static/sprite.svg#icon-{{ icon.name }}">
				</svg>
			</div>
		{% endfor %}
	</div>
{% endblock %}