<div class="filters">
	<div class="filter-block">
		<ul class="filters__menu">
			<li><a href="#">Вентиляторы</a></li>
			<li><a href="#" class="active">Вентиляционное оборудование</a></li>
			<li><a href="#">Водоснабжение</a></li>
			<li><a href="#">Кондиционеры</a></li>
			<li><a href="#">Обогреватели</a></li>
			<li><a href="#">Отопительное оборудование</a></li>
			<li><a href="#">Очистители, увлажнители и осушители воздуха</a></li>
			<li><a href="#">Сушилки для рук электрические</a></li>
		</ul>
	</div>

	<div class="filter-block js-accordeon active">
		<div class="filter-block__title js-accordeon-toggler">Цена, руб.</div>
		<div class="filter-block__content">
			<div class="filter-block__content-inner">
				<div class="range js-range js-range-with-inputs">
					<div class="range__inputs js-range-inputs">
						<div class="range__input">
							<input type="text" class="js-range-min" placeholder="от">
						</div>
						<div class="range__input">
							<input type="text" class="js-range-max" placeholder="до">
						</div>
					</div>

					<div class="range-slider-outer js-range-slider" data-min="500" data-max="50000">
						<input type="text" id="slider-price" class="js-slider">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="filter-block js-accordeon active">
		<div class="filter-block__title js-accordeon-toggler">Параметр выбора</div>
		<div class="filter-block__content js-filter-block-content">
			<div class="filter-block__content-inner">
				<div class="check-list">
					{% for i in range(0, 5) %}
						<div class="check-list__item">
							<div class="checkbox">
								<input type="checkbox" id="type-1__param-{{ i + 1 }}" {% if loop.index == 1 %} checked {% endif %}>
								<label for="type-1__param-{{ i + 1 }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
							</div>
						</div>
					{% endfor %}
					<div class="filter-block__hide">
						{% for i in range(6, 11) %}
							<div class="check-list__item">
								<div class="checkbox">
									<input type="checkbox" id="type-1__param-{{ i }}">
									<label for="type-1__param-{{ i }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<button type="button" class="filter-block__more js-filter-block-more">Показать все</button>
			</div>
		</div>
	</div>

	<div class="filter-block js-accordeon">
		<div class="filter-block__title js-accordeon-toggler">Бренд</div>
		<div class="filter-block__content js-filter-block-content">
			<div class="filter-block__content-inner">
				<div class="check-list">
					{% for i in range(0, 5) %}
						<div class="check-list__item">
							<div class="checkbox">
								<input type="checkbox" id="type-2__param-{{ i + 1 }}" {% if loop.index == 1 %} checked {% endif %}>
								<label for="type-2__param-{{ i + 1 }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
							</div>
						</div>
					{% endfor %}
					<div class="filter-block__hide">
						{% for i in range(6, 11) %}
							<div class="check-list__item">
								<div class="checkbox">
									<input type="checkbox" id="type-2__param-{{ i }}">
									<label for="type-2__param-{{ i }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<button type="button" class="filter-block__more js-filter-block-more">Показать все</button>
			</div>
		</div>
	</div>

	<div class="filter-block js-accordeon">
		<div class="filter-block__title js-accordeon-toggler">Производитель</div>
		<div class="filter-block__content js-filter-block-content">
			<div class="filter-block__content-inner">
				<div class="check-list">
					{% for i in range(0, 5) %}
						<div class="check-list__item">
							<div class="checkbox">
								<input type="checkbox" id="type-3__param-{{ i + 1 }}" {% if loop.index == 1 %} checked {% endif %}>
								<label for="type-3__param-{{ i + 1 }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
							</div>
						</div>
					{% endfor %}
					<div class="filter-block__hide">
						{% for i in range(6, 11) %}
							<div class="check-list__item">
								<div class="checkbox">
									<input type="checkbox" id="type-3__param-{{ i }}">
									<label for="type-3__param-{{ i }}">Название параметра {{ loop.index }} <span>{{ loop.index }}</span></label>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<button type="button" class="filter-block__more js-filter-block-more">Показать все</button>
			</div>
		</div>
	</div>

	<div class="filter-block js-accordeon active">
		<div class="filter-block__title js-accordeon-toggler">По рейтингу</div>
		<div class="filter-block__content">
			<div class="filter-block__content-inner">
				<div class="check-list">
					<div class="check-list__item">
						<div class="radio">
							<input type="radio" id="type-4__param-1" name="type-4" checked>
							<label for="type-4__param-1">
								от
								{% include 'partials/blocks/_stars.html' %}
								<span>16</span>
							</label>
						</div>
					</div>
					<div class="check-list__item">
						<div class="radio">
							<input type="radio" id="type-4__param-2" name="type-4">
							<label for="type-4__param-2">Любой</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="filters__clear">
		<button class="btn btn--full-width">Очистить фильтр</button>
	</div>
</div>