<div class="menu-wrapper js-menu-wrapper">
	<button type="button" class="menu__button js-menu-toggler">
		<span class="menu-toggler">
			<span class="menu-toggler__inner"></span>
		</span>
		<span class="menu__button-text">Каталог товаров</span>
	</button>

	<div class="menu">
		<div class="menu__close js-menu-close"></div>
		<div class="menu__header js-menu-header">Каталог товаров</div>
		<div class="menu__scroll">
			<ul class="menu__block">
				{% for i in range(1, 15) %}
					<li>
						{% if loop.index == 3 %}
							<a href="#">Меню уровень 1 элемент {{ i }}</a>
						{% else %}
							<a href="submenu-1_{{ i }}" class="menu__link js-menu-link" data-level="1">Меню уровень 1 элемент {{ i }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

		{% for i in range(1, 15) %}
			{% if loop.index != 3 %}
				<div class="submenu js-submenu" id="submenu-1_{{ i }}" data-level="1">
					<div class="menu__scroll">
						<ul class="menu__block">
							{% for j in range(1, 5) %}
								<li>
									{% if loop.index == 3 %}
										<a href="#">Меню уровень 1_{{ i }}_{{ j }} элемент {{ j }}</a>
									{% else %}
										<a href="submenu-1_{{ i }}_{{ j }}" class="menu__link js-menu-link" data-level="2">Меню уровень 1_{{ i }}_{{ j }} элемент {{ j }}</a>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% for i in range(1, 10) %}
			{% for j in range(1, 5) %}
				<div class="submenu js-submenu" id="submenu-1_{{ i }}_{{ j }}" data-level="2">
					<div class="menu__scroll">
						<ul class="menu__block">
							{% for k in range(0, 5) %}
								<li>
									<a href="#">Меню уровень 1_{{ i }}_{{ j }} элемент {{ k }}</a>
								</li>
							{% endfor %}
						</ul>
						{% if loop.index != 2 %}
							<div class="menu__content">
								{% include 'partials/blocks/_product-offer-3.html' %}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% endfor %}

		<div class="menu__back">
			<button type="button" class="menu__back-link js-menu-back">Вернуться назад</button>
			<button type="button" class="menu__back-close js-menu-close">Закрыть</button>
		</div>
	</div>
</div>