<div class="product-offer" style="background-image: url('img/dynamic/product-offer/product-offer-2.jpg');">
	<a href="#" class="product-offer__link"></a>
	<div class="product-offer__icon">
		<img src="img/dynamic/product-offer/product-offer-icon-2.png" alt="#">
	</div>
	<div class="product-offer__title product-offer__title--green">Бесплатная доставка <br>по Москве</div>
	<div class="product-offer__subtitle">При заказе от 1 500 руб.</div>
	<div class="product-offer__btn">
		<div class="btn btn--primary">Подробнее</div>
	</div>
</div>