{% import '../_mixins.html' as mixins %}

<div class="product">
	<a href="#" class="product__link"></a>
	<div class="product__inner">
		<div class="product__img">
			<img src="https://placehold.it/230x230" alt="#">
		</div>
		<div class="product__info">
			<div class="product__vendor-code">Артикул: 579634</div>
			<div class="product__title">Mystery MSF-2433</div>
			<div class="product__description">Вентилятор настольный</div>
			<div class="product__bottom">
				<div class="product__delivery">
					{{ mixins.icon('icon-delivery') }}
					Доставим: <span>Завтра</span>
				</div>
				<div class="product__actions">
					<button type="button" class="product__action active">
						{{ mixins.icon('icon-heart') }}
					</button>
					<button type="button" class="product__action">
						{{ mixins.icon('icon-compare') }}
					</button>
				</div>
			</div>
		</div>

		<div class="product__total">
			<div class="product__price">
				<div class="price">
					<span class="price__old">35 800 р.</span>
					<span>35 800 р.</span>
				</div>
			</div>
			<button type="button" class="product__cart">
				{{ mixins.icon('icon-cart') }}
			</button>
		</div>
	</div>
</div>