<div class="product-offer" style="background-image: url('img/dynamic/product-offer/product-offer-1.jpg');">
	<a href="#" class="product-offer__link"></a>
	<div class="product-offer__icon">
		<img src="img/dynamic/product-offer/product-offer-icon.jpg" alt="#">
	</div>
	<div class="product-offer__title">Соверменная акустика, качественный звук</div>
	<div class="product-offer__subtitle">Наушники Audio-Technica</div>
	<div class="product-offer__btn">
		<div class="btn btn--primary">Подробнее</div>
	</div>
</div>