{% import '../_mixins.html' as mixins %}

<div class="socials">
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-facebook') }}
	</a>
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-vk') }}
	</a>
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-instagram') }}
	</a>
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-twitter') }}
	</a>
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-classmates') }}
	</a>
	<a href="#" class="socials__item">
		{{ mixins.icon('icon-youtube') }}
	</a>
</div>