@mixin expandTransition() {
	max-height: 0;
	overflow: hidden;
	transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.1s;
}

@mixin expandTransitionRe() {
	max-height: 9999px;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(.5, 0, 1, 0);
}