{% set characteristicList = [
	{
		title: 'Основные характеристики',
		items: [
			{
				part1: 'Тип',
				part2: 'Настольный'
			},
			{
				part1: 'Решетка',
				part2: 'Есть'
			},
			{
				part1: 'Механизм',
				part2: 'Осевой'
			},
			{
				part1: 'Мощность',
				part2: '25 Вт'
			},
			{
				part1: 'Функция наклона',
				part2: 'Есть'
			},
			{
				part1: 'Функция поворота',
				part2: 'Есть'
			},
			{
				part1: 'Диаметр лопастей',
				part2: '23 см'
			}
		]
	},
	{
		title: 'Характеристики питания',
		items: [
			{
				part1: 'Питание',
				part2: 'От сети'
			}
		]
	},
	{
		title: 'Дополнительные характеристики',
		items: [
			{
				part1: 'Материал',
				part2: 'Пластик'
			},
			{
				part1: 'Цвет',
				part2: 'Черный'
			},
			{
				part1: 'Вес брутто',
				part2: '1.455 кг'
			}
		]
	},
	{
		title: 'Возможности и управление',
		items: [
			{
				part1: 'Тип управления',
				part2: 'Механическое'
			},
			{
				part1: 'Таймер',
				part2: 'Нет'
			},
			{
				part1: 'Увлажнитель',
				part2: 'Нет'
			},
			{
				part1: 'Ионизация',
				part2: 'Нет'
			}
		]
	},
	{
		title: 'Характеристики питания',
		items: [
			{
				part1: 'Питание',
				part2: 'От сети'
			}
		]
	},
	{
		title: 'Возможности и управление',
		items: [
			{
				part1: 'Тип управления',
				part2: 'Механическое'
			},
			{
				part1: 'Таймер',
				part2: 'Нет'
			},
			{
				part1: 'Увлажнитель',
				part2: 'Нет'
			},
			{
				part1: 'Ионизация',
				part2: 'Нет'
			}
		]
	},
	{
		title: 'Дополнительные характеристики',
		items: [
			{
				part1: 'Материал',
				part2: 'Пластик'
			},
			{
				part1: 'Цвет',
				part2: 'Черный'
			},
			{
				part1: 'Вес брутто',
				part2: '1.455 кг'
			}
		]
	}
] %}

<div class="characteristic-list">
	{% for item in characteristicList %}
	<div class="characteristic">
		<div class="characteristic__title">{{ item.title }}</div>
		<div class="characteristic__table">
			{% for option in item.items %}
			<div class="characteristic__row">
				<span>{{ option.part1 }}</span>
				<span>{{ option.part2 }}</span>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>