<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<div class="header__menu-toggler">
					<div class="menu-toggler js-menu-toggler">
						<span class="menu-toggler__inner"></span>
					</div>
				</div>

				<div class="header__logo">
					<div class="logo">
						<img src="img/static/icons-other/logo.svg" alt="#">
					</div>
				</div>

				<div class="header__contacts">
					<div class="header__location">
						<div class="location">
							<a href="#" class="location__item"><span>г. Москва</span></a>
							<a href="#" class="location__item active"><span>г. Санкт-Петербург</span></a>
						</div>
					</div>
					<a href="tel:74953570570" class="header__phone">
						{{ mixins.icon('icon-phone') }}
						<span>+7 495 357-05-70</span>
					</a>
					<div class="header__schedule">
						График работы:
						<span>c 9:00 - 21:00</span>
					</div>
					<button type="button" class="header__login-link js-popup" data-popup-selector=".js-popup-login">
						{{ mixins.icon('icon-user') }}
						<span>Вход на сайт</span>
					</button>
				</div>

				<div class="header__control">
					<div class="header__actions">
						<a href="#" class="header__action">
							{{ mixins.icon('icon-compare') }}
							<span>2</span>
						</a>
						<a href="#" class="header__action">
							{{ mixins.icon('icon-heart') }}
							<span>2</span>
						</a>
						<button type="button" class="header__action js-popup" data-popup-selector=".js-popup-login">
							{{ mixins.icon('icon-user') }}
						</button>
						<a href="#" class="header__action">
							{{ mixins.icon('icon-cart') }}
							<span>1</span>
						</a>
					</div>
					<div class="header__price">2 180 р.</div>
				</div>
			</div>
		</div>
	</div>

		<div class="header__bottom">
			<div class="container">
				<div class="header__bottom-inner">
					{% include 'partials/blocks/_menu.html' %}

					<div class="header__search">
						{% include 'partials/blocks/_search.html' %}
					</div>
				</div>
			</div>
		</div>
</header>