<div class="popup popup-login js-popup-login mfp-hide">
	<div class="popup__inner">
		<div class="popup__header">
			<div class="popup__title">Вход в личный кабинет</div>
		</div>

		<div class="popup__body">
			<div class="login">
				<form>
					<div class="login__field">
						<div class="input-with-label js-input-with-label error">
							<input type="text" id="email" placeholder="Введите e-mail" value="mumijo@mail.ru">
							<label for="email">Ваше e-mail *</label>
						</div>
					</div>

					<div class="login__field js-password">
						<div class="input-with-label input-password js-input-with-label">
							<input type="password" id="password" placeholder="Введите пароль">
							<label for="password">Пароль *</label>
							<button type="button" class="input-with-label__icon js-password-toggler">
								{{ mixins.icon('icon-eye') }}
							</button>
						</div>
					</div>

					<div class="login__btns">
						<div class="login__btn">
							<button class="btn btn--full-width btn--primary">Вход</button>
						</div>

						<div class="login__btn">
							<button class="btn btn--full-width btn--transparent">Регистрация</button>
						</div>
					</div>

					<div class="login__bottom">
						<div class="checkbox">
							<input type="checkbox" id="login-check" checked>
							<label for="login-check">Запомнить меня</label>
						</div>

						<a href="#" class="remind-password">Напомнить пароль</a>
					</div>
				</form>
			</div>
		</div>

		<div class="popup__footer">
			<div class="popup__socials">
				<div class="popup__socials-title">Войти через социальные сети</div>
				<div class="socials socials--painted socials--big">
					<a href="#" class="socials__item socials__vk">
						{{ mixins.icon('icon-vk') }}
					</a>
					<a href="#" class="socials__item socials__facebook">
						{{ mixins.icon('icon-facebook') }}
					</a>
					<a href="#" class="socials__item socials__classmates">
						{{ mixins.icon('icon-classmates') }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>