{% import './_mixins.html' as mixins %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>

	<div class="wrapper">

		{% block header %}
			{% include './layouts/_header.html' %}
		{% endblock %}

		<div class="content">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}
			{% include './layouts/_footer.html' %}
		{% endblock %}

	</div>

	{% block additional %}
	{% endblock %}

	{% include './layouts/_popup-login.html' %}

	<script src="libs/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<script src="libs/jquery.magnific-popup.min.js"></script>

	<script src="libs/jquery.selectric.min.js"></script>

	<script src="libs/slick.min.js"></script>

	{# {% if page == 'main' %} #}
	<script src="libs/ion.rangeSlider.min.js"></script>
	{# {% endif %} #}

	<script src="js/app.js"></script>
</body>
</html>