.check-list__item {
	margin-bottom: 11px;

	&:last-child {
		margin-bottom: 0;
	}
}





.checkbox {
	input {
		display: none;

		&:checked {
			& + label {
				&::before {
					background-color: $color-green;
					border-color: $color-green;
				}
			}
		}
	}

	label {
		position: relative;
		display: flex;

		padding-left: 34px;

		font-size: 13px;

		cursor: pointer;

		&::before,
		&::after {
			content: '';

			position: absolute;
		}

		&::before {
			top: 0;

			left: 0;
			width: 20px;

			height: 20px;
			border: 1px solid #d7d7d7;
		}

		&::after {
			top: 7px;
			left: 7px;

			width: 7px;
			height: 5px;

			border-bottom: 2px solid #fff;
			border-left: 2px solid #fff;

			transform: rotate(-45deg);
		}

		span {
			margin-left: 5px;
			color: #a7a7a7;
		}
	}
}





.radio {
	input {
		display: none;

		&:checked {
			& + label {
				&::after {
					content: '';
				}
			}
		}
	}

	label {
		position: relative;

		display: flex;

		padding-left: 34px;

		font-size: 13px;

		cursor: pointer;

		&::before,
		&::after {
			content: '';

			position: absolute;

			top: 0;
			left: 0;

			width: 20px;
			height: 20px;

			border: 1px solid #d7d7d7;
			border-radius: 50%;
		}

		&::after {
			content: none;
			border: 6px solid $color-green;
		}

		> span {
			margin-left: 12px;
			margin-top: 2px;
			color: #a7a7a7;
		}
	}

	.stars {
		margin-left: 15px;
	}
}