.filter-panel {
	margin-bottom: 29px;
}

.filter-panel__item {
	display: flex;
	align-items: center;

	height: 65px;

	border: 1px solid #ebebeb;

	background-color: #f7f7f7;

	&.catalog__filter-btn {
		display: none;
	}
}

.filter-panel__sort {
	display: flex;

	padding-left: 23px;

	font-size: 14px;
}

.filter-panel__sort-title {
	margin-right: 20px;

	font-weight: 500;

	color: #161515;
}

.filter-panel__sort-item {
	display: flex;
	align-items: center;

	margin-right: 28px;

	white-space: nowrap;
	line-height: 1;

	opacity: 0.7;

	&.active {
		opacity: 1;

		span {
			border-bottom-color: transparent;
		}
	}

	&::after {
		content: '';
		margin-left: 8px;
		margin-bottom: 2px;
		border-top: 4px solid #010101;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}

	span {
		border-bottom: 1px dashed;
	}
}

.filter-panel__grid {
	display: flex;
	margin-left: auto;
}

.filter-panel__grid-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 65px;
	height: 65px;

	border-left: 1px solid #ebebeb;

	cursor: pointer;

	.icon-svg {
		fill: #141414;
	}

	&.active {
		.icon-svg {
			fill: #c7c7c7;
		}
	}
}