.pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 65px;

	padding: 0 34px;

	border: 1px solid #ebebeb;

	background-color: #f7f7f7;

	> a:not(.page-prev):not(.page-next),
	> span {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 35px;
		height: 35px;

		margin: 0 7px;

		font-size: 13px;
		font-weight: 500;

		border-radius: 50%;

		color: #18191b;
	}

	a:not(.page-prev):not(.page-next) {
		border: 1px solid #ebebeb;
		background-color: #ffffff;

		&.active,
		&:hover {
			color: #fff
		}

		&.active {
			background-color: $color-primary;
		}

		&:hover {
			background-color: $color-blue;
		}
	}

	> span {
		letter-spacing: 0.5em;
	}
}

.page-prev,
.page-next {
	font-size: 12px;
	text-transform: uppercase;
	color: $color-blue;

	&:hover {
		span {
			border-bottom-color: inherit;
		}
	}

	span {
		border-bottom: 1px solid transparent;
	}
}

.page-prev {
	margin-right: auto;
}

.page-next {
	margin-left: auto;
}