.search {
	position: relative;
	width: 100%;

	input {
		width: 100%;

		padding: 11px 45px 13px 15px;

		font-size: 14px;

		border: 1px solid #e1e1e1;

		color: #000000;

		@media (max-width: 600px) {
			padding-right: 30px;
		}

		&::-webkit-input-placeholder {
		  font-size: 14px;
		  color: #747474;
		}
		&::-moz-placeholder {
		  font-size: 14px;
		  color: #747474;
		}
		&:-ms-input-placeholder {
		  font-size: 14px;
		  color: #747474;
		}
		&:-moz-placeholder {
		  font-size: 14px;
		  color: #747474;
		}
	}	
}

.search__button {
	position: absolute;

	right: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 52px;
	height: 100%;

	cursor: pointer;

	@media (max-width: 600px) {
		width: 35px;
	}

	.icon-search {
		font-size: 16px;
		fill: #3a393b;
	}
}