.socials {
	display: flex;

	margin: 0 -9px;

	&--painted {
		.socials__item {
			border: none;

			svg {
				fill: #fff;
			}
		}
	}

	&--big {
		margin: 0 -14px;

		.socials__item {
			width: 45px;
			height: 45px;

			margin: 0 14px;

			svg {
				font-size: 20px;
			}
		}
	}
}

.socials__item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 35px;
	height: 35px;

	margin: 0 9px;

	border: 1px solid #d7d7d7;
	border-radius: 50%;

	background-color: #fff;

	&:hover {
		background-color: $color-primary;

		svg {
			fill: #fff;
		}
	}

	svg {
		fill: #a8a8a8;
	}
}

.socials__vk {
	background-color: #6996c7;
}

.socials__facebook {
	background-color: #496194;
}

.socials__classmates {
	background-color: #ff9c43;
}