.icon-car-2 {
  width: 1.54em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.icon-certificate {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-classmates {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-compare {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-delivery {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.54em;
  height: 1em;
  fill: #1b1b1b;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-grid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #efce4a;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-user {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}