@import 'var';

*,
*::before,
*::after {
	box-sizing: border-box;
	outline-color: transparent;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
	font-family: $font-main, sans-serif;
	font-style: normal;
	font-weight: 400;

	line-height: 1.5;

	background: #fff;
	color: #000;
}

input,
textarea {
	font-family: $font-main, sans-serif;
	font-size: 16px;
	border-radius: 0;
}

input,
textarea {
	-webkit-appearance: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: bold;
}

.icon-svg {
	vertical-align: middle;
}

.xs-hide {
	@media #{$mediaXS} {
		display: none;
	}
}