.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;

	min-width: 320px;
	min-height: 100vh;

	overflow: hidden;
}

.content {
	flex-grow: 1;
	background-color: #fff;
}

.container {
	max-width: 1720px;
	min-width: 320px;

	width: 100%;

	margin: 0 auto;
	padding: 0 30px;

	@media (max-width: 1023px) {
		padding: 0 20px;
	}
}
