$font-main: 'Roboto', sans-serif;
$font-monts: 'Montserrat', sans-serif;

$color-primary: #773e91;
$color-primary-dark: #5e2e73;
$color-blue: #0069ab;
$color-blue-dark: #024d7c;
$color-green: #86be58;
$color-red: #ed1c24;
$color-yellow: #ffea94;

$mediaXS: '(max-width: 575.98px)';
$mediaSM: '(max-width: 767.98px)';
$mediaMD: '(max-width: 991.98px)';
$mediaLG: '(max-width: 1199.98px)';