.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	padding: 23px 0 20px;

	font-size: 12px;
	font-weight: 400;

	color: #696969;

	li {
		&:last-child {
			&::after {
				content: none;
			}
		}

		&::after {
			content: '/';
			margin: 0 9px;
		}
	}

	a {
		display: inline-block;

		line-height: 0.9;

		border-bottom: 1px solid transparent;

		&:hover {
			color: $color-blue;
			border-bottom-color: $color-blue;
		}
	}
}