.content-block {
	border-top: 1px solid #e1e1e1;
}

.content-block__inner {
	max-width: 1310px;

	padding: 66px 0;

	font-size: 14px;

	color: #696969;

	@media #{$mediaSM} {
		padding: 25px 0;
	}

	@media #{$mediaXS} {
		font-size: 11px;
		line-height: 1.8;
	}

	p {
		margin-bottom: 24px;

		@media #{$mediaXS} {
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}